.navbar {
  width: 100vw;
  left: 0;
  backdrop-filter: blur(3px); 
  background-color: rgba(0, 0, 0, 0.589);
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border-radius: 0;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  z-index: 1000;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping */
  border-bottom: 1px solid var(--border-color);

}

body {
  margin-top: 70px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap; /* Prevent wrapping */
}

.navbar li {
  margin: 0;
}

.navbar p {
  text-align: center;
  margin-left: 50%;
  margin-right: 40%;
}

.navbar a {
  display: block;
  padding: 1em 1.5em;
  color: #fff;
  text-decoration: none;
  transition: background 0.2s;
}

.navbar a:hover {
  background: #444;
}

.logo {
  height: 45px;
  width: 45px;
  object-fit: cover;
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  margin: 0;
  border: none;
}

@media (max-width: 768px) {
  .navbar {
    top: auto;
    bottom: 0;
    padding-bottom: 10px;
    border-top: 1px solid var(--border-color);
  }

  body {
    margin-top: 0;
    margin-bottom: 70px;
  }

  .logo {
    display: none;
  }
}
